<div class="login-wrap">
    <div class="login-container">
        <form class="login-html" [formGroup]="user">
            <!--<input id="tab-1"-->
             <!--type="radio" name="tab" class="sign-in "-->
             <!--routerLink='/login' [checked]="active['login']">-->
            <!--<label for="tab-1" class="tab pointer">Sign In</label>-->
            <div class="group">
                <label class="tab">Signin in with google</label>
                <div class="social_network_container">
                    <button mat-icon-button  class="network" (click)="auth_service.loginWithFirebase()">
                        <div class="google"></div>
                    </button>
                </div>
            </div>
        </form>
     </div>
</div>
